<nz-layout>
  <nz-page-header>
    <nz-page-header-title>You have {{ tags.length }} tags</nz-page-header-title>
    <nz-page-header-subtitle>Manage it</nz-page-header-subtitle>
    <nz-page-header-extra>
      <button
        (click)="showAddTagModal()"
        nz-button
        nzType="primary"
        nzSize="default"
        nzShape="round"
      >
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        Tag
      </button>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-content>
    <nz-empty [nzNotFoundContent]="emptyContentTemplate" *ngIf="tags.length === 0">
      <ng-template #emptyContentTemplate>
        <span>You haven't any tags, but you can add them now</span>
      </ng-template>
    </nz-empty>

    <mat-chip-list>
      <mat-chip *ngFor="let tag of tags" (click)="showViewTagModal(tag)">
        {{ tag.name }}
      </mat-chip>
    </mat-chip-list>
  </nz-content>
</nz-layout>
