<div>
  <nz-page-header
    [nzTitle]="topic.name"
    [nzSubtitle]="topic.description"
  ></nz-page-header>

  <nz-list
    [nzDataSource]="topic.actualResources"
    [nzRenderItem]="itemTemplate"
    [nzGrid]="{ gutter: 16, span: 6 }"
  >
    <ng-template #itemTemplate let-item>
      <nz-list-item [nzContent]="resourceTemplate">
        <ng-template #resourceTemplate>
          <app-resource-view [resource]="item"></app-resource-view>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>
