<nz-card nzTitle="Login" [nzActions]="[actionLogin]">
  <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixUser">
          <input type="text" nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>

        <nz-form-explain
          *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors"
          >Please input your Email!</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixLock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>

        <nz-form-explain
          *ngIf="
            validateForm.get('password')?.dirty && validateForm.get('password')?.errors
          "
          >Please input your Password!</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
        <nz-divider nzType="vertical"></nz-divider>
        <a class="login-form-forgot">Forgot password?</a>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      Or <a routerLink="/sign-up" routerLinkActive="active">register now!</a>
    </nz-form-item>
  </form>

  <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
  <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
</nz-card>

<ng-template #actionLogin>
  <nz-form-item>
    <nz-form-control>
      <button
        nz-button
        class="login-form-button"
        [nzType]="'primary'"
        [disabled]="!validateForm.valid"
        (click)="onLogin()"
      >
        <i nz-icon nzType="login" nzTheme="outline"></i>Log in
      </button>
    </nz-form-control>
  </nz-form-item>
</ng-template>
