<mat-toolbar>
  <mat-toolbar-row>
    <button
      mat-button
      *ngIf="isAuthenticated"
      routerLink="/settings"
      routerLinkActive="active"
    >
      <app-user-badge [user]="user"></app-user-badge>
    </button>

    <button
      mat-button
      *ngIf="!isAuthenticated"
      routerLink="/sign-up"
      routerLinkActive="active"
    >
      <span>
        <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
        <span class="nav-text"> Sing Up</span>
      </span>
    </button>
    <button
      mat-button
      *ngIf="!isAuthenticated"
      routerLink="/login"
      routerLinkActive="active"
    >
      <span>
        <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
        <span class="nav-text"> Sign In</span>
      </span>
    </button>

    <span class="spacer"></span>

    <button
      mat-button
      *ngIf="isAuthenticated"
      routerLink="/news"
      routerLinkActive="active"
    >
      <span>
        <fa-icon [icon]="['far', 'newspaper']"></fa-icon>
        <span class="nav-text"> News</span>
      </span>
    </button>
    <button
      mat-button
      *ngIf="isAuthenticated"
      routerLink="/tags"
      routerLinkActive="active"
    >
      <span>
        <i nz-icon type="tags"></i>
        <span class="nav-text"> Tags</span>
      </span>
    </button>

    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <span>
        <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
        <span class="nav-text"> Sign Out</span>
      </span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
