<nz-layout>
  <nz-content>
    <nz-empty [nzNotFoundContent]="emptyContentTemplate" *ngIf="topics.length === 0">
      <ng-template #emptyContentTemplate>
        <span>The are no news for you</span>
        <nz-divider nzType="vertical"></nz-divider>
        <button
          (click)="forceUpdate()"
          nz-button
          nzType="primary"
          nzSize="default"
          nzShape="round"
        >
          <fa-icon [icon]="['fas', 'sync-alt']"></fa-icon>
        </button>
      </ng-template>
    </nz-empty>

    <nz-empty
      [nzNotFoundContent]="emptyContentTemplate"
      *ngIf="topics.length != 0 && !hasAnyResources()"
    >
      <ng-template #emptyContentTemplate>
        <span>Yeah, you read them all!</span>
        <nz-divider nzType="vertical"></nz-divider>
        <button
          (click)="forceUpdate()"
          nz-button
          nzType="primary"
          nzSize="default"
          nzShape="round"
        >
          <fa-icon [icon]="['fas', 'sync-alt']"></fa-icon>
        </button>
      </ng-template>
    </nz-empty>

    <!-- <div *ngFor="let topic of topics" >
      <div *ngFor="let resource of topic.actualResources" nz-row nzType="flex" nzJustify="center" nzAlign="top">
        <app-resource-view [topic]="topic" [resource]="resource"></app-resource-view>
      </div>
    </div> -->

    <div
      *ngFor="let resource of topics | combineTopics"
      nz-row
      nzType="flex"
      nzJustify="center"
      nzAlign="top"
    >
      <app-resource-view
        [topic]="resource.topic"
        [resource]="resource"
      ></app-resource-view>
    </div>
  </nz-content>
</nz-layout>
