<nz-card nzTitle="Sign Up" [nzActions]="[actionSignUp]">
  <form nz-form [formGroup]="validateForm" nzLayout="vertical">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>

      <nz-form-control>
        <input nz-input formControlName="email" id="email" />

        <nz-form-explain
          *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors"
        >
          The input is not valid E-mail!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="password" nzRequired>Password</nz-form-label>

      <nz-form-control>
        <input
          nz-input
          type="password"
          id="password"
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
        />

        <nz-form-explain
          *ngIf="
            validateForm.get('password')?.dirty && validateForm.get('password')?.errors
          "
          >Please input your password!</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>

      <nz-form-control>
        <input
          nz-input
          type="password"
          formControlName="checkPassword"
          id="checkPassword"
        />

        <nz-form-explain
          *ngIf="
            validateForm.get('checkPassword')?.dirty &&
            validateForm.get('checkPassword')?.errors
          "
        >
          <ng-container *ngIf="validateForm.get('checkPassword')?.hasError('required')">
            Please confirm your password!
          </ng-container>

          <ng-container *ngIf="validateForm.get('checkPassword')?.hasError('confirm')">
            Two passwords that you enter is inconsistent!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="nickname" nzRequired>
        <span>
          Nickname
          <i
            nz-icon
            nz-tooltip
            nzTitle="What do you want other to call you"
            type="question-circle"
            theme="outline"
          ></i>
        </span>
      </nz-form-label>

      <nz-form-control>
        <input nz-input id="nickname" formControlName="nickname" />
        <nz-form-explain
          *ngIf="
            validateForm.get('nickname')?.dirty && validateForm.get('nickname')?.errors
          "
          >Please input your nickname!</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row style="margin-bottom:8px;">
      <nz-form-control>
        <label nz-checkbox formControlName="agree">
          <span>I have read the <a>agreement</a></span>
        </label>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<ng-template #actionSignUp>
  <nz-form-item>
    <nz-form-control>
      <button
        nz-button
        class="login-form-button"
        [nzType]="'primary'"
        [disabled]="!validateForm.valid"
        (click)="signUp()"
      >
        <i nz-icon nzType="login" nzTheme="outline"></i>Sign Up
      </button>
    </nz-form-control>
  </nz-form-item>
</ng-template>
