<nz-layout class="layout">
  <app-navigation [isCollapsed]="isCollapsed" class="sticky-top"></app-navigation>

  <nz-layout class="content">
    <nz-content>
      <div class="content-container" nz-row nzJustify="center">
        <div nz-col>
          <router-outlet></router-outlet>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<ng-template #zeroTrigger>
  <i nz-icon type="menu-fold" theme="outline"></i>
</ng-template>
