<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixName">
        <input type="text" nz-input formControlName="tagName" placeholder="Tag name" />
      </nz-input-group>
      <nz-form-explain
        *ngIf="
          validateForm.get('tagName')?.dirty && validateForm.get('tagName')?.errors
        "
        >Please input tag name!</nz-form-explain
      >
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input type="number" nz-input formControlName="importance" placeholder="Importance" />
        </nz-input-group>
        <nz-form-explain
          *ngIf="
            validateForm.get('importance')?.dirty && validateForm.get('importance')?.errors
          "
          >The number should be between 1 and 99!</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button
        nz-button
        class="login-form-button"
        [nzType]="'primary'"
        [disabled]="validateForm.invalid"
      >
        Add
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixName><i nz-icon nzType="info" nzTheme="outline"></i></ng-template>
