<form nz-form class="login-form">
  <nz-form-item>
    <nz-form-control>
      <nz-form-label [nzSpan]="7">Name</nz-form-label>
      <nz-form-control [nzSpan]="10">
        <input nz-input [ngModel]="tag.name" name="Name" disabled />
      </nz-form-control>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-form-label [nzSpan]="7">Views</nz-form-label>
      <nz-form-control [nzSpan]="10">
        <input nz-input [ngModel]="tag.views" name="Views" disabled />
      </nz-form-control>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-form-label [nzSpan]="7">Recently Used</nz-form-label>
      <nz-form-control [nzSpan]="10">
        <input
          nz-input
          [ngModel]="tag.recentlyUsed | date: 'medium'"
          name="RecentlyUsed"
          disabled
        />
      </nz-form-control>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-form-label [nzSpan]="7">Importance</nz-form-label>
      <nz-form-control [nzSpan]="10">
        <input nz-input [ngModel]="tag.importance" name="Importance" disabled />
      </nz-form-control>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button
        *ngIf="tag.id"
        nz-button
        nzType="danger"
        class="login-form-button"
        (click)="remove()"
      >
        Remove
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
