<h3>Persistence</h3>

<nz-divider [nzText]="removeAccountTemplate">
  <ng-template #removeAccountTemplate>
    <button nz-button nzType="danger" (click)="removeUser()">Remove Account</button>
  </ng-template>
</nz-divider>

<p>All your data will be deleted immediately</p>
