<mat-card class="card-view">
  <mat-card-header>
    <mat-card-title>{{ getTitle() }}</mat-card-title>
    <mat-card-subtitle>{{ resource.displayLink }}</mat-card-subtitle>
  </mat-card-header>

  <div nz-row nzType="flex" nzJustify="center" nzAlign="top">
    <img *ngIf="resource.imageLink" mat-card-image [src]="resource.imageLink" />
  </div>

  <mat-card-content>
    <p [innerHTML]="resource.description"></p>
  </mat-card-content>
  <mat-card-actions>
    <div nz-row nzType="flex" nzAlign="middle">
      <a nzSize="large" nz-button nzType="primary" [href]="resource.link" target="blank">
        <fa-icon [icon]="['fab', 'readme']"></fa-icon>
      </a>

      <nz-divider nzType="vertical"></nz-divider>

      <button nzSize="large" nz-button nzType="dashed" (click)="archive()">
        <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
      </button>

      <nz-divider nzType="vertical"></nz-divider>

      <mat-chip-list>
        <mat-chip color="primary" selected>{{ resource.relevanceIndex * 100 }}%</mat-chip>
        <mat-chip *ngFor="let tag of resource | relevantTags">{{ tag }}</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-actions>
</mat-card>
